<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'user_info', book: @book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table>
        <tbody>
            <tr>
              <tb>
                <%= @book1.user_id %>
              </tb>
              <tb>
                <%= @book1.title %>
              </tb>
              <tb>
                <%= @book1.body %>
              </tb>
            </tr>
        </tbody>
      </table>
    </div>